In [40]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt
import re

In [41]:
data = []

# Open and read the log file line by line
with open('../output/task1/no-asp-1core_degree_8.log', 'r') as file:
    for line in file:
        # Use regular expressions to extract the values
        match = re.search(r'ip: (\d+) cva: (\d+) lva: (\d+) stride: (-?\d+) state: (\d+)', line)
        if match:
            # Extracted values from the line
            ip = int(match.group(1))
            currentva = int(match.group(2))
            lastva = int(match.group(3))
            stride = int(match.group(4))
            state = int(match.group(5))
            
            # Append the extracted values to the data list as a tuple
            data.append((ip, currentva, lastva, stride, state))

# Convert the data list into a Pandas DataFrame
df = pd.DataFrame(data, columns=['ip', 'current_va', 'last_va', 'stride', 'state'])
df.head()

        ip       current_va          last_va  stride  state
0  4208268  139664040951808  139664040665088  286720      2
1  4208303  139669186674688  139669186678784   -4096      2
2  4208268  139664041242624  139664040951808  290816      3
3  4208268  139664041529344  139664041242624  286720      3
4  4208268  139664041816064  139664041529344  286720      2

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1374139 entries, 0 to 1374138
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   ip          1374139 non-null  int64
 1   current_va  1374139 non-null  int64
 2   last_va     1374139 non-null  int64
 3   stride      1374139 non-null  int64
 4   state       1374139 non-null  int64
dtypes: int64(5)
memory usage: 52.4 MB

### Number of unique IPs in Trace as seen by STLB

In [43]:
df['ip'].nunique()

8

### Frequency of each such IP

In [44]:
df['ip'].value_counts()

ip
4208268    1108620
4208303     255026
4208293       6489
4208369       2170
4208311       1692
4208325        130
4208374         10
4208320          2
Name: count, dtype: int64

### As percentage

In [45]:
100 * df['ip'].value_counts()/df.shape[0]

ip
4208268    80.677428
4208303    18.558967
4208293     0.472223
4208369     0.157917
4208311     0.123132
4208325     0.009460
4208374     0.000728
4208320     0.000146
Name: count, dtype: float64

### % Distribution of states the ASP was in
    - 2 Transient
    - 1 Steady
    - 0 Initial

In [46]:
100 * df['state'].value_counts()/df.shape[0]

state
3    34.723416
1    28.622505
2    21.692274
0    14.961805
Name: count, dtype: float64

### For the dominant IP

In [47]:
dominant_ip = df[df['ip'] == 4208268]
100 * dominant_ip['state'].value_counts()/dominant_ip.shape[0]

state
3    36.319298
2    24.175642
1    22.438527
0    17.066533
Name: count, dtype: float64

In [48]:
pd.set_option("display.max_rows", None)
dominant_ip['stride'].value_counts()[:]

stride
 286720       621173
 290816       258416
 577536        77258
 573440        52535
-286720        40454
-290816        17079
 864256        12965
-577536        12139
-573440         8469
 1150976        4813
 860160         1806
 1155072        1034
-791797760       268
-791793664        83
-791506944        45
-791511040        30
 791797760        18
-791220224        10
 791511040         8
 791506944         7
-791224320         5
 791793664         5
Name: count, dtype: int64